<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">

            <table style="width:100%">
            <tr>
                <th >ID</th>
                <th>Emri i eventit</th>
                <th>Lloji i eventit</th>
                <th>Pershkrimi</th>
                <th>koha</th></tr>
            <tr th:each="event: ${events}">
                <th th:text="${event.id}" />
                <th th:text="${event.name}" />
                <th th:text="${event.tipi}" />
                <th th:text="${event.description}" />
                <th th:text="${event.datetime}" />
            </tr>
            </table>
        </div>
        <form th:action="@{/admin/home/event/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To create a new  event</button>
        </form>
    </div>

</div>
</body>
</html>
