<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">


            <div align="center">
                <h1>Create New Event</h1>
                <br />
                <form action="#" th:action="@{/admin/home/event/save}" th:object="${event}"
                      method="post">

                    <table border="0" cellpadding="10">
<!--                        <tr>-->
<!--                            <td>ID:</td>-->
<!--                            <td><input type="text" th:field="*{id}" /></td>-->
<!--                        </tr>-->
                        <tr>
                            <td>Event Name:</td>
                            <td><input type="text" th:field="*{name}" /></td>
                        </tr>
                        <tr>
                           <td>Type of Event:</td>
                            <td>
                            <select th:field="*{tipi}">
                            <option value="Conferences">Conferences</option>
                            <option value="Guest">Guest</option>
                            <option value="Seminar">Seminar</option>
                            <option value="Party">Party</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><input type="text" th:field="*{description}" /></td>
                        </tr>
                        <tr>
                            <td>Date and Time:</td>
                            <td><input type="datetime-local"  min="2020-01-01T00:00" th:field="*{datetime}" /></td>
                        </tr>


                        <tr>
                            <td colspan="2"><button type="submit">Save</button> </td>
                        </tr>
                    </table>
                </form>
            </div>



        </div>
    </div>

</div>
</body>
</html>